@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@700&family=IBM+Plex+Serif&family=Montserrat:wght@300&display=swap');
html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-color: #ffffff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='4' height='4' viewBox='0 0 4 4'%3E%3Cpath fill='%232035d4' fill-opacity='0.1' d='M1 3h1v1H1V3zm2-2h1v1H3V1z'%3E%3C/path%3E%3C/svg%3E");
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#container {
    position: relative;
    width: 90vw;
    /* top&bottom left&right */
    padding: 20px 20px;
    margin-top: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 0 10px 10px 10px rgba(0, 0, 0, 0.2);
}

#nav-bar {
    width: 100%;
    /* position: fixed; */
    top: 0;
    color: black;
    background: rgb(1, 47, 51);
    background: linear-gradient(90deg, rgba(1, 47, 51, 1) 0%, rgba(3, 117, 108, 1) 42%, rgba(7, 231, 217, 1) 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* Error handling in user entry*/

.alert-success {
    background-color: green;
    color: white;
}

.alert-danger {
    background-color: red;
    color: white;
}

nav {
    float: right;
}

.primary-icon {
    width: 80px;
    height: 90px;
    float: left;
    margin: 5px 0px 5px 90px;
}

#nav-bar ul {
    margin-right: 20px;
}

#nav-bar ul li {
    display: inline-block;
    font-size: 20px;
    font-family: 'Arimo', sans-serif;
    margin: 0 20px 0 20px;
}

#nav-bar ul li a {
    color: white;
    text-decoration: none;
}

#nav-bar ul a:hover {
    color: aqua;
}

.name-comment {
    font-weight: bold;
}

.date-comment {
    font-size: small;
}

.text-comment {
    margin-left: 20px;
    font-family: 'Montserrat', sans-serif;
}

.return-home a {
    text-decoration: none;
}

p {
    font-family: 'IBM Plex Serif', serif;
}

h2,
h3 {
    font-family: 'Arimo', sans-serif;
}

#middle-page {
    background: #ecfefa;
    flex-direction: row;
    justify-content: center;
}

.vote_like,
.vote_dislike {
    border: none;
    cursor: pointer;
    background: transparent;
    margin: 0 0 0 10px;
    padding: 0;
    transition: color 0.3s;
}

.vote_like:hover,
.is-liked .vote_like {
    color: green;
}

.vote_dislike:hover,
.is-disliked .vote_dislike {
    color: red;
}

.vote-comment-btns {
    margin-right: 20px;
    text-align: right;
}

.comment_btn {
    margin-right: 20px;
}

.vote_btns {
    text-align: right;
}

.vote_btns form {
    display: inline-block;
}

.vote_btn {
    display: inline-block;
}

.post {
    justify-content: center;
}

.card {
    margin: auto;
}

img {
    width: 30%;
    height: 10%;
}

#bottom-footer {
    width: 100%;
    margin-bottom: 0;
    color: white;
    background: #012f33;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
}


/* Media Query: Medium Smartphone (Vertical), starting from 480px */

@media screen and (max-width: 480px) {
    body {
        min-height: unset;
        width: 100vw;
        font-size: 14px;
    }
    #container {
        font-size: 14px;
        margin-bottom: 0;
        box-shadow: none;
        /* text-align: center; */
        /* min-height: 245px; */
    }
    /* change nav-bar to be smaller */
    #nav-bar ul {
        flex-direction: column;
        margin-bottom: 0;
        margin-left: 0;
    }
    .nav-link {
        margin: 2px;
        font-size: 14px;
    }
}